* {
  padding: 0px;
  margin: 0px;
}
body {
  /* background-image: url(12643221_5040007.jpg); */
  background-image: linear-gradient(to right, #8360c3, #2ebf91);

  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #001c30; */
  font-family: sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 500px; */
}
#firstHeading {
  display: inline-block;
}
.box {
  margin-top: 25vh;
  width: 500px;
  /* height: 500px; */
  /* display: block; */
}
#container1 img {
  /* margin-top: 10px; */
  width: 26px;
}
#container1 {
  border-radius: 10px;
  background-color: rgba(253, 252, 252, 0.564);
  /* margin: 10px 5px; */
  padding: 30px 0px;
  padding-left: 10px;
  box-shadow: 5px 5px 5px rgb(255, 254, 254);
  background-blend-mode: darken;
  display: inline-block;
  width: 490px;
}
#firstHeading {
  margin-bottom: 10px;
}

.box0 {
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(255, 254, 254, 0.571);
  padding: 10px 10px;
  /* display: none; */

  display: flex;
  justify-content: space-between;
}
#container1 input {
  border: none;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
  background-color: gainsboro;
}

button {
  background-color: orange;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-left: 15px;
  width: 20%;
  /* margin-left: 10px; */
}
.toDoListId p {
  margin: 20px 5px 10px 5px;
}

@media (max-width: 550px) {
  #box {
    width: 80vw;
    display: flex;
    justify-content: center;
  }
  #container1 {
    margin: 0px 40px;
    width: 80vw;
  }
  h1 {
    font-size: 22px;
  }

  button {
    padding: 10px;
    margin-left: 5px;
    width: 20%;
  }
}
@media (max-width: 390px) {
  #container1 input {
    width: 68vw;
    margin-left: 6px;
  }
  button {
    display: inline-block;
    /* margin-left: -5px; */
    margin-top: 10px;
    margin-right: 9px;
  }
  h1 {
    padding-bottom: 20px;
    margin-left: 10px;
  }
}
